body{
    font-family: Arial, sans-serif;
    color: #333;
}
h1{
    padding-left: 65px;
}
table{
    width: 90%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
}
th.td{
    padding: 1%;
    text-align: left;
    border-bottom: 1 px solid #ddd;
}
th{
    background-color: #bdbbbb;
    padding: 1%;
    border: 1px solid;
    border-color: black;
}
td{
    border: 1px solid;
    border-color: black;
    padding: 1%;
}